# Dependencies
node_modules/
.pnp
.pnp.js

# TypeScript / build
*.tsbuildinfo
build/
dist/

# Environment variables
.env
.env*
!.env.example
.dev.vars*
!.dev.vars.example

# Next.js
.next/
out/
next-env.d.ts

# Fumadocs
.source

# Astro
.astro/

# TanStack Start
.tanstack

# Testing
coverage/

# Misc
.DS_Store
*.pem

# Wrangler
.wrangler/

# API / build artifacts
**/*.trace
**/*.zip
**/*.tar.gz
**/*.tgz
**/*.log
**/*.bun
