NODE_ENV=development

# Umami (not needed in dev)
NEXT_PUBLIC_UMAMI_WEBSITE_ID=

# Other
NEXT_PUBLIC_WEBSITE_URL=http://localhost:3000
NEXT_PUBLIC_DASHBOARD_URL=http://localhost:3001
NEXT_PUBLIC_API_URL=http://localhost:3002
NEXT_PUBLIC_NGROK_URL=
NEXT_PUBLIC_ALLOW_PREMIUM_FEATURES=true